/*Este archivo servira para agregar proopiedades generales a la pag*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
    max-width: 1366px;
}