/*Este archivo servira para agregar proopiedades generales a la pag*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif; /* el "Inter" es un tipo de letra sacado de google fonts y por si no funciona en algunos dispositivos se usa el "sans-serif" que es un tipo de letra parecido*/
    max-width: 1366px; /* tamaño maximo de la página*/
}