/* Este archivo servira para agregar propiedades */


/*Propiedades del encabezado*/
.ENCABEZADO{
    width: 134.9rem;
    height: 10rem;
    padding: 3rem 0 0 3rem;
    border-radius: 1.5rem 1.5rem 0 0;
    background: #CBCBCB;
}

/*Estas propiedades son para indicar que este es el padre de los circulos*/
.circle{
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:row;
}

/*Son las propiedades del circulo rojo*/
.circlered {
    width: 1.5rem;
    height: 1.5rem;
    background: #F20707;
    border-radius: 50rem;
    margin: 1.5rem 0 0 1rem;
    display:flex;
    flex-direction: column;
}

/*Son las propiedades del circulo amarillo*/
.circleyellow{
    width: 1.5rem;
    height: 1.5rem;
    background: #D9B13B;
    border-radius: 50rem;
    margin: 1.5rem 0 0 1rem;
    display:flex;
    flex-direction: column;
}

/*Son las propiedades del circulo azul*/
.circleblue{
    width: 1.5rem;
    height: 1.5rem;
    background: #085CA6;
    border-radius: 50rem;
    margin: 1.5rem 0 0 1rem;
    display:flex;
    flex-direction: column;
}

/* Propiedades del cuadro blanco que está dentro del encabezado*/
.rectangulo {
    width: 106.7rem;
    height: 4rem;
    border-radius: 0.5rem;
    background: #FAFAFA;
    margin: 0 0 0 7rem;
}

/* Propiedades para el nav*/
.oscuro {
    width: 134.9rem;
    height: 6rem;
    padding: 1rem 0 0 0;
    background: #464E5D;
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:row;
}

/*Propiedades para el cuadro dentro del nav*/
.cuadrorojo {
    width: 12rem;
    height: 4rem;
    border-radius: 0.7rem;
    background: #DF4645;
    margin: 0 0 0 112rem;
    display:flex;
    flex-direction:row;
}

/*Propiedades para la imagen de la lupa*/
.cuadrorojo img {
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 6.5rem;
    display:flex;
    flex-direction:row;
}

/* Propiedades del usuario que va dentro del cuadro rojo*/
.usuario {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    padding: 1.2rem 0 0 3.2rem;
    display:flex;
    flex-direction:row;
}

/*Propiedades de los dos primeros cuadros */
.content{
    width: 134.9rem;
    height: 28rem;
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:row;
}

/*Propiedades para el rectangulo dentro del cuadrado principal*/
.cuadrec {
    width: 63rem;
    height: 3rem;
    background-color: rgba(108, 109, 104, 0.932);
    border-radius: 0.5rem;
}

/* Propiedades para el cuadro gris que contiene una imagen y um texto*/
.cuadrogris{
    margin: 1rem 0 0 1.8rem;
    display:flex;
    flex-direction: column;
}

/*Propiedades para la imagen dentro del cuadro*/
.spotyfy{
    width: 87.4rem;
    height: 34rem;
    border-radius: 1.2rem;
    position: relative;
}

/*Propiedades de un cuadro que tiene un texto*/
.color {
    width: 62rem;
    height: 4rem;
    position: absolute;
    margin: 26.8rem 0 0 2rem ;
    border-radius: 1.8rem;
    background: rgba(70, 78, 93, 0.53);
}

/*Texto que esta dentro de .color*/
.cuadrotexto{
    font-size: 2rem;
    line-height: 1.8rem;
    position: absolute;
    color: #FFFFFF;
    margin: 1.2rem 0 0 3.5rem ;
}

/*Propiedades del rectangulo vertical mas grande*/
.column {
    width: 55rem;
    height: 119.5rem;
    background: #E5E5E5;
    margin: 1rem 1.8rem 0 3rem;
    padding: 8rem 0 0 3rem;
    border-radius: 0.5rem;
    display:flex;
    flex-direction: column;
}

/*Propiedades del primer cuadro dentro del rectangulo más grande*/
.uno {
    width: 23.5rem;
    height: 13rem;
    margin: 0  0 2rem 11rem;
    border-radius: 1.2rem;
}

/*Propiedades del segundo cuadro dentro del rectangulo más grande*/
.dos{
    width: 23.5rem;
    height: 13rem;
    margin: 0  0 1rem 11rem;
    background-color:  rgba(170, 170, 159, 0.664);
    border-radius: 1.2rem;
}

/*Propiedades del tercer cuadro dentro del rectangulo más grande*/
.tres {
    width: 23.5rem;
    height: 13rem;
    margin: 0  0 2rem 11rem;
    border-radius: 1.2rem;
}

/*Propiedades del cuarto cuadro dentro del rectangulo más grande*/
.cuatro {
    width: 23.5rem;
    height: 13rem;
    margin: 0  0 3rem 11rem;
    border-radius: 1.2rem;
}

/*Propiedad del quinto cuadro dentro del rectangulo más grande*/
.ultimocuadro {
    width: 35.5rem;
    height: 32rem;
    object-fit: cover;
    background-color: rgba(170, 170, 159, 0.664);
    border-radius: 1.2rem;
}

/* Propiedades del papa de los seis cuadrados*/
.seixcuadrados {
    width: 97.3rem;
    margin: 11.5rem 0 0 0;
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:row;
    flex-wrap: wrap;
}

/*Primer cuadrado*/
.lenguaje1{
    width: 27.8rem;
    height: 22rem;
    background: #CBCBCB;
    margin: 0 0 2rem 2rem;
    border-radius: 1.2rem;
    display:flex;
    flex-direction: column;
}

/*Primer cuadro para texto*/
.color1 {
    width: 27.8rem;
    height: 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    background-color: #d9c13b;
}

/*Nombre de la imagen dentro del cuadro para texto*/
.nombre1{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: 0 0 0 11rem ;
}

/*Imagen dentro del cuadro*/
.Phyton{
    width: 27.8rem;
    height: 20rem;
}

/*Segundo cuadrado*/
.lenguaje2{
    width: 27.8rem;
    height: 22rem;
    background: #CBCBCB;
    margin: 0 0 2rem 2rem;
    border-radius: 1.2rem;
    display:flex;
    flex-direction: column;
}

/*Segundo cuadro para texto*/
.color2 {
    width: 27.8rem;
    height: 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    background-color: #d93b3b;
}

/*Nombre de la imagen dentro del cuadro para texto*/
.nombre2{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0 0 0 12.3rem ;
}

/*Imagen dentro del cuadro*/
.Java{
    width: 27.8rem;
    height: 20rem;
}

/*Tercer cuadrado*/
.lenguaje3{
    width: 27.8rem;
    height: 22rem;
    background: #CBCBCB;
    margin: 0 0 2rem 2rem;
    border-radius: 1.2rem;
    display:flex;
    flex-direction: column;
}

/*Tercer cuadro para texto*/
.color3 {
    width: 27.8rem;
    height: 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    background-color: #b93bd9;
}

/*Nombre de la imagen dentro del cuadro para texto*/
.nombre3{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0 0 0 12.5rem ;
}

/*Imagen dentro del cuadro*/
.PHP{
    width: 27.8rem;
    height: 20rem;
}

/*Cuarto cuadrado*/
.lenguaje4{
    width: 27.8rem;
    height: 22rem;
    background: #CBCBCB;
    margin: 0 0 2rem 2rem;
    border-radius: 1.2rem;
    display:flex;
    flex-direction: column;
}

/*Imagen dentro del cuadro*/
.R{
    width: 27.8rem;
    height: 20rem;
}

/*Cuarto cuadro para texto*/
.color4 {
    width: 27.8rem;
    height: 2rem;
    border-radius: 0 0 1.2rem 1.2rem ;
    background-color: #3b92d9;
}

/*Nombre de la imagen dentro del cuadro para texto*/
.nombre4{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0 0 0 12.5rem ;
}

/*Quinto cuadrado*/
.lenguaje5{
    width: 27.8rem;
    height: 22rem;
    background: #CBCBCB;
    margin: 0 0 2rem 2rem;
    border-radius: 1.2rem;
    display:flex;
    flex-direction: column;
}

/*Imagen dentro del cuadro*/
.Matlab{
    width: 27.8rem;
    height: 20rem;
}

/*Quinto cuadro para texto*/
.color5 {
    width: 27.8rem;
    height: 2rem;
    border-radius: 0 0 1.2rem 1.2rem ;
    background-color: #d97a3b;
}

/*Nombre de la imagen dentro del cuadro para texto*/
.nombre5{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0 0 0 11rem ;
}

/*Sexto cuadrado*/
.lenguaje6{
    width: 27.8rem;
    height: 22rem;
    background: #CBCBCB;
    margin: 0 0 2rem 2rem;
    border-radius: 1.2rem;
    display:flex;
    flex-direction: column;
}

/*Imagen dentro del cuadro*/
.Groovy{
    width: 27.8rem;
    height: 20rem;
}

/*Sexto cuadro para texto*/
.color6 {
    width: 27.8rem;
    height: 2rem;
    border-radius: 0 0 1.2rem 1.2rem ;
    background-color: #3e3bd9;
}

/*Nombre de la imagen dentro del cuadro para texto*/
.nombre6{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0 0 0 11rem ;
}


/*Propiedades de un cuadradado que guarda dos cuadrados más (PAPA)*/
.last {
    width: 87rem;
    margin: 2rem 0 0 1.8rem;
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:row;
}

/*Propiedades del logo el colegio (HIJO)*/
.primercuad{
    width: 27rem;
    height: 20rem;
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction: column;
}

/*Propiedades del segundo cuadrado(HIJO)*/
.secondcuad{
    width: 55rem;
    height: 16.5rem;
    margin: 0.5rem 0 3rem 4rem;
    padding: 2.5rem 0 0 0;
    display:flex;
    flex-direction: column;
}

/*Propiedades del parrafo que esta de último*/
.ultimotexto {
    font-size: 2.2rem;
    color: #353535;
    display: flex;
    align-items: center;
}